colorama==0.4.1
concept-formation==0.3.4
dill==0.2.8.2
Django==2.1.11
django-codemirror2==0.2
django-cors-headers==2.4.0
django-flashpolicies==1.10
django-extensions==2.2.8
django-python-code-field==1.0.0
-e git+https://github.com/eharpste/django-picklefield.git#egg=django-picklefield
munkres==1.0.12
ordered-set==3.0.2
prettytable==0.7.2
py-search==2.0.1
pytz==2018.5
six==1.11.0
tabulate==0.8.2
verlib==0.1
torch>=1.0.0
jsondiff
-e git+https://gitlab+deploy-token-3:8vn5PzksGTAaw8v48oP-@hq-git.soartech.com/apprentice/experta.git#egg=experta
nltk
coloredlogs
PyYAML
scikit-learn
numpy
pytest